{% extends 'base.html.twig' %}

{% block title %}Users Page{% endblock %}

{% block body %}
<div class="row content">
    <div class="col-3">
        <img src="/images/{{ company.logo }}" alt="avatar">
    </div>
    <div class="col-9 blockContent">
        <div class="description">
            <div class="row">
                <div class="col-6 static">
                    Name:
                </div>
                <div class="col-6 dynamic">
                    {{ company.firmName }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 static">
                    Основатель
                </div>
                <div class="col-6 dynamic">
                    Lorem_last_name
                </div>
            </div>
            <div class="row">
                <div class="col-6 static">
                    Дата основания
                </div>
                <div class="col-6 dynamic">
                    Lorem_age
                </div>
            </div>
            <div class="row">
                <div class="col-6 static">
                    Количество сотрудников
                </div>
                <div class="col-6 dynamic">
                    Lorem_birth_day
                </div>
            </div>
            <div class="row">
                <div class="col-6 static static">
                    Контакты
                </div>
                <div class="col-6 table">
                    <div class="row">
                        <div class="col-6 static">Company address</div>
                        <div class="col-6 static">Company phone</div>
                    </div>
                    <div class="row">
                        <div class="col-6 dynamic">
                            {{ company.address }}
                        </div>
                        <div class="col-6 dynamic">+{{ company.phone }}</div>
                    </div>
                </div>
            </div>
        </div><!-- /description -->

    </div>
</div>


{% endblock %}
