<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-grid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        <title>{% block title %}Firma{% endblock %}</title>
    </head>


    <body>
    <div id="wrapper">
        <div class="container">
            <div class="row header">
                <div class="col-4 logo">
                    <h1>Logo</h1>
                </div>
                <div class="col-4 adress">
                    <h2>Grodno</h2>
                    <p>Уолт-стрит</p>
                </div>
                <div class="col-4 login" >
                    <h2>Login</h2>
                    <form action="">
                        <input type="text" name="login" class="loginInput">
                        <input type="text" name="token" class="loginInput">
                        <input type="button" value="Войти" class="loginInput" name="loginIn">
                    </form>
                </div>
            </div>
            <div class="row nav">
                <div class="col-2"><a href="/">Home</a></div>
                <div class="col-2"><a href="/companies/">Company</a></div>
                <div class="col-2"><a href="/users/">Users</a></div>
            </div>

        {% block body %}{% endblock %}
        <div class="row">
            <div class="col-4">
                <p>News</p>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-4">
                <h2>Last add users:</h2>
                <div class="row tableLastAddUsers">
                    <div class="col-4">
                        <h3>Name</h3>
                    </div>
                    <div class="col-4">
                        <h3>Company</h3>
                    </div>
                </div>

                <div class="row tableLastAddUsers">
                    <ul>
                        <li>Just user1</li>
                        <li>Just user2</li>
                        <li>Just user3</li>
                        <li>Just user4</li>
                    </ul>
                </div>


            </div>
            <div class="col-4 subscribe">
                <h2>Subscribe</h2>
                <form action="">
                    <input type="email" name="email" class="subscribeInput">
                    <input type="button" class="subscribeInput" value="Subscribe" name="Subscribe">
                </form>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            <script>
                $('.dropdown-toggle').dropdown();
            </script>
        {% endblock %}
    </body>
</html>
