
* {
  margin: 0;
  padding: 0; }

.row {
  margin: 0; }

a, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

input[type=button], button {
  cursor: pointer; }

div[class*=col-] {
  padding: 0; }

.namePage {
  text-align: center; }

/* Filter */
form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  form input {
    margin-top: 5px; }

.filterForm {
  background-color: #14006b;
  color: white;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 10px; }
  .filterForm input {
    width: 100%;
    background-color: white;
    border: 0px;
    padding: 5px; }
    .filterForm input[type=submit] {
      cursor: pointer; }
    .filterForm input[type=checkbox] {
      width: auto; }

.alphabet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal; }
  .alphabet input[name=literaOt], .alphabet input[name=literaDo] {
    margin-right: 5px; }
  .alphabet form input[type=text] {
    width: 100px; }

.date {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .date input {
    width: 150px; }

.radioCompanyFilter {
  overflow: auto;
  max-height: 100px;
  width: 150px; }

.header {
  background-color: #14006b;
  color: white;
  font-family: arial; }

.adress, .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.login {
  box-sizing: border-box;
  padding: 5px !important; }

.loginInput {
  width: 100%;
  background-color: white;
  border: 0px;
  padding: 5px; }

.loginInput[type=text] {
  padding: 4px; }

.loginInput[name=loginIn] {
  padding: 5px; }

.login h2, .subscribe h2 {
  text-align: center; }

.login form, .subscribe form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto; }

.login form input, .subscribe form input {
  margin-top: 5px; }

.nav {
  background-color: #0C0046;
  padding: 5px 5px 5px 0px; }
  .nav div[class*=col-] {
    background-color: #0C0046;
    color: white;
    padding-left: 10px;
    font-size: 25px;
    font-family: arial; }
    .nav div[class*=col-]:hover {
      background-color: #14006b; }
    .nav div[class*=col-] a {
      display: block;
      width: 100%; }

.rowContent {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  .rowContent:last-child {
    margin-bottom: 10px; }
  .rowContent div[class*=col-]:first-child {
    margin-right: 50px;
    margin-bottom: 50px; }
  .rowContent div[class*=col-] p {
    margin-top: 15px; }
  .rowContent div[class*=col-] .row {
    display: flex;
    align-items: center; }
    .rowContent div[class*=col-] .row h2 {
      margin-left: 25px; }
  .rowContent div[class*=table] a {
    cursor: pointer; }
  .rowContent div[class*=table]:first-child {
    margin-right: 0px;
    margin-bottom: 0px; }

.tableRow {
  margin-right: 50px; }

.logoCompany {
  max-width: 150px;
  max-height: 75px; }

.pagination {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center; }
  .pagination ul {
    list-style: none; }
    .pagination ul li {
      border: 1px solid black;
      margin-right: 10px; }
      .pagination ul li a {
        display: block;
        padding: 7px; }

.active {
  background-color: #14006b;
  color: white; }

.tableLastAddUsers div {
  margin: 2px 0 2px 0;
  box-sizing: border-box;
  padding-left: 2px;
  border: 1px solid black; }

#outputOt, #chisloOt {
  display: inline-block; }

#outputDo, #chisloDo {
  display: inline-block; }

#outputOt, #outputDo {
  min-width: 50px;
  text-align: right; }

.copy p {
  margin: 0 auto; }

.imgUser {
  width: 100px; }

/*Admin panel*/
.AdminBlockContent {
  margin: 32px auto 32px auto; }

.addUser {
  width: 30%;
  border: 1px solid #14006b;
  background-color: white;
  color: black; }
  .addUser input {
    border: 1px solid #14006b; }

.other {
  color: white; }

.description {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 620px; }

.static {
  font-size: 20px; }

.table .dynamic {
  border-left: 1px solid #14006b; }
  .table .dynamic:last-child {
    border-right: 1px solid #14006b; }

.table .static {
  border-left: 1px solid #14006b; }
  .table .static :last-child {
    border-right: 1px solid #14006b; }

.static, .dynamic {
  margin: 0 auto;
  border-bottom: 1px solid #14006b; }

